<h3>{{titulo}}</h3>
<hr>
<form action="" class="form-horizontal">

    <!-- <div class="row">
        <div class="form-group col-md-2">
            <button class="btn btn-primary" (click)="agregarDonacion()">
               Buscar
            </button>
        </div>
    </div>
    
    <div class="form-group col-md-2">
        <label for="">Tipo de Donador:</label>
        <input type="text" name="tipo" id="tipo"
            placeholder="DNI/RUC" class="form-control">
              
    </div> -->

    <div class="row">
        <div class="form-group col-md-2">
            <label for="">DNI/RUC:</label>
            <input type="text" name="nrodocumento" id="nrodocumento"
                placeholder="DNI/RUC" class="form-control"
                [(ngModel)] = "nrodocumento">
        </div>
        <div class="form-group col-md-2">
            <label for="">Producto:</label>
            <input type="text" name="producto" id="producto"
                placeholder="Producto" class="form-control"
                [(ngModel)] = "productorInput">
        </div>
        <div class="form-group col-md-2">
            <label for="">Cantidad:</label>
            <input type="text" name="cantidad" id="cantidad"
                placeholder="Cantidad" class="form-control"
                [(ngModel)] = "cantidadInput">
        </div>
        <div class="form-group col-md-2">
            <label for="">Unidad de Medida:</label>
            <input type="text" name="unidadmedida" id="unidadmedida"
                placeholder="Unidad de Medida" class="form-control"
                [(ngModel)] = "unidadmedidaInput">
        </div>
        <div class="form-group col-md-2">
            <label for="">Fecha Caducidad:</label>
            <input type="text" name="fechacaducidad" id="fechacaducidad"
                placeholder="Fecha de Caducidad" class="form-control"
                [(ngModel)] = "fechacaducidadInput">
        </div>

    </div>
    <div class="row">
        <div class="form-group col-md-2">
            <button class="btn btn-info" (click)="agregarDonacion()">
                Agregar
            </button>
        </div>
    </div>
</form>

<!--
<p *ngFor="let cliente of clienteLst; let i = index">
    {{i+1}}, {{cliente.nombre}}, {{cliente.apellido}}, {{cliente.dni}}
</p>
-->
<table datatable id="dataTable" class="table table-bordered">
    <thead class="bg-info">
        <tr class="text-white">
            <th>#</th>
            <th>DNI/RUC</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Unidad Medida</th>
            <th>Fecha Cad.</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let donacion of donacionLst; let i = index ">
            <td>{{i+1}}</td>
            <td>{{donacion.nrodocumento}}</td>
            <td>{{donacion.pruducto}}</td>
            <td>{{donacion.cantidad}}</td>
            <td>{{donacion.unidadmedida}}</td>
            <td>{{donacion.fechacaducidad}}</td>
            <td>
              <a href="" class="btn btn-warning">
                <span class="fa fa-edit"></span>
              </a>
              <a href="" class="btn btn-primary">
                <span class="fa fa-search"></span>
              </a>
              <a href="" class="btn btn-danger">
                <span class="fa fa-trash"></span>
              </a>
            </td>
        </tr>
    </tbody>

</table>


