<h3>{{titulo}}</h3>
<hr>
<form action="" class="form-horizontal">

    <!-- <div class="row">
        <div class="form-group col-md-2">
            <button class="btn btn-primary" (click)="agregarDonacion()">
               Buscar
            </button>
        </div>
    </div>
    
    <div class="form-group col-md-2">
        <label for="">Tipo de Donador:</label>
        <input type="text" name="tipo" id="tipo"
            placeholder="DNI/RUC" class="form-control">
              
    </div> -->

    <div class="row">
        <div class="form-group col-md-5">
            <label for="">Donante Id</label>
            <input type="text" name="donanteId" id="donanteId"
                placeholder="donanteId" class="form-control" [(ngModel)] = "datosDonante"  disabled="">
        </div>
        <div class="form-group col-md-2">
            <label for="fecha">Fecha de entrega:</label>
            <input type="date" id="fechaE" name="fechaE" class="form-control" [(ngModel)] = "fechaEntregaInput">
        </div>
        
    </div>


    <div class="row">
        <div class="form-group col-md-2">
            <label for="">Producto:</label>
            <input type="text" name="producto" id="producto"
                placeholder="producto" class="form-control"
                [(ngModel)] = "productoInput">
        </div>
        <div class="form-group col-md-2">
            <label for="">Cantidad:</label>
            <input type="text" name="cantidad" id="cantidad"
                placeholder="Cantidad" class="form-control"
                [(ngModel)] = "cantidadInput">
        </div>
              <div class="form-group  col-md-2">
                <label for="unidadMedida" class="form-label">Selecciona una unidad de medida:</label>
                <select id="unidadMedida" name="unidadMedida" class="form-control" [(ngModel)]="unidadmedidaInput">
                  <option value="1">Saco de 25 kilogramos</option>
                  <option value="2">Saco de 50 kilogramos</option>
                  <option value="3">Bolsa de 1 kilogramo</option>
                  <option value="4">Bolsa de 500 gramos</option>
                  <option value="5">Lata</option>
                  <option value="6">Paquete</option>
                  <option value="7">Botella</option>
                  <option value="8">Caja</option>
                  <option value="9">Barril</option>
                  <option value="10">Pieza</option>
                  <option value="11">Docena</option>
                </select>
          </div>
          <div class="form-group col-md-2">
            <label for="">Fecha Caducidad:</label>
            <input type="date"  name="fechacaducidad" id="fechacaducidad"
            placeholder="Fecha de Caducidad" class="form-control"
            [(ngModel)] = "FecCaduInput" placeholder="yyyy/mm/dd">
        </div>
        
    </div>
    <div class="row">
        <div class="form-group col-md-1">
            <button class="btn btn-info" (click)="agregarDetalle()">
                Agregar
            </button>
        </div>
        <div class="form-group col-md-1">
            <button class="btn btn-info" (click)="agregarDonante()">
                Guardar
            </button>
        </div>
        <div class="form-group col-md-2">
            <button class="btn btn-info" data-toggle="modal" data-target="#donacionesModal" (click)="listarDonaciones()">
                ver mis donaciones
            </button>
        </div>
    </div>
</form>

    <table datatable id="dataTable" class="table table-bordered">
        <thead class="bg-info">
            <tr class="text-white">
                <th>#</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Unidad medida</th>
                <th>Fecha Caducidad</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detalle of detalleDonacion_Lst; let i = index">
                <td>{{i+1}}</td>
                <td>{{detalle.producto}}</td>
                <td>{{detalle.cantidad}}</td>
                <td>{{detalle.unidad_medida }}</td>
                <td>{{detalle.fecha_cad}}</td>
                <td>
                  <button class="btn btn-danger" (click)="eliminarDetalle(i)">
                    <span  class="fa fa-trash" data-toggle="modal" data-target="#donacionesModal"></span>
                </button>
                </td>
            </tr>
        </tbody>
    </table>

<!-- Modal ver donaciones -->
<div class="modal fade" id="donacionesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ver mis donaciones: </h5>
            <button id="updateModal-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            
        <table datatable id="dataTable2"  class="table table-bordered">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th>#</th>
                        <th>Donacion ID</th>
                        <th>Tipo</th>
                        <th>Fecha Entrega</th>
                        <th>Estado</th>
                        <th>acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let donacion of donacion_Lst; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{donacion.donacion_id}}</td>
                        <td>{{donacion.tipo}}</td>
                        <td>{{donacion.fecha_entrega | date: 'yyyy/MM/dd' }}</td>
                        <td>{{donacion.estado}}</td>
                        <td>
                          <button class="btn btn-info" data-toggle="modal" data-target="#detalleModal" (click)="mostrarIemDon(donacion.donacion_id)">
                            <span  class="fa fa-search" ></span>
                        </button>
                        </td>
                    </tr>
                </tbody>
        </table>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>



<!-- Modal detalleDonaciones -->
<div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ver mis donaciones: </h5>
            <button id="updateModal-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

        <table datatable id="dataTable2"  class="table table-bordered">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th>#</th>
                        <th>donacion Id </th>
                        <th>producto</th>
                        <th>Cantidad</th>
                        <th>unidad medida</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detalle of detallexId; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{detalle.donacionId}}</td>
                        <td>{{detalle.producto}}</td>
                        <td>{{detalle.cantidad}}</td>
                        <td>{{detalle.unidad}}</td>                   
                    </tr>
                </tbody>
        </table>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

    

